@model Contacte.Models.Entities.Contact

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nume")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayName("Prenume")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayName("Email")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayName("CNP")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CNP)
        </dd>
        <dt>
            @Html.DisplayName("Numar de telefon")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayName("Adresa")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", "Home") |
    <a asp-action="Index">Back to List</a>
</div>
